.home
 ul.nav
  li.button1 酒廠歷史
  li.button1 釀酒過程
  li.button1 酒類介紹
  li.button1 小遊戲
 .header
 .main.section1
  img.pic(src="https://i.imgur.com/syFSZQj.png", alt="")
  .content
   h1 酒廠歷史
   p 嘉義酒廠可說是充滿歷史的地方,<br>在這裡有很多精彩、優美的故事發生,<br>一起開啟時光之旅吧!
   .button more ➠
 .main.section2
  img.pic(src="https://i.imgur.com/8Gq0wwJ.png", alt="")
  .content
   h1 釀酒過程
   p 酒的誕生可不是我們想像中的那麼簡單喔,<br>可是需要經過很多的程序呢!<br>就讓我們一起探索小麥變身的神奇過程吧!
   .button more ➠
   img.pic1(src="https://i.imgur.com/tooVW0v.png", alt="")
   img.pic1(src="https://i.imgur.com/U6QYRuy.png", alt="")
   img.pic1(src="https://i.imgur.com/phWk5xj.png", alt="")
 .main.section3
  img.pic(src="https://i.imgur.com/p3FA7ox.png", alt="")
  .content
   h1 酒類介紹
   p 我們可以透過身分證第一碼知道你是哪裡人,<br>那你知道酒的世界也有可以區分的依據嗎,<br>想知道是什麼嗎，繼續看下去囉!
   .button more ➠
 .main.section4
  img.pic(src="https://i.imgur.com/dTvnB6h.png", alt="")
  .content
   h1 小遊戲
   p 學習完,想必你對酒廠有更深入的了解,<br>讓我們透過好玩、有趣的小遊戲,<br>加深印象吧~~
   .button more ➠
 